In [1]:
import pandas 
from pandas import DataFrame
import math 
import statistics 
import numpy as np
import scipy.stats

In [2]:
# Retrieves the data from the csv file and inserts it into our Notebook as "data"
data = pandas.read_csv('budget_data.csv')

In [3]:
# Displays the data that was previously stored in the csv file
data

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [4]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [5]:
# Displays Summary Statistics from our DataFrame in Scientific Notation
data.describe()

       Profit/Losses
count   8.600000e+01
mean    4.463090e+05
std     5.363579e+05
min    -1.196225e+06
25%     1.821620e+05
50%     5.703280e+05
75%     7.952262e+05
max     1.170593e+06

In [6]:
# Stores each column of the table as a variable to be called upon later
x = DataFrame(data, columns=['Date'])
y = DataFrame(data, columns=['Profit/Losses'])

In [7]:
# Print the total number of months included in the dataset
total_months = len(x)
print(total_months)

86

In [8]:
# Sums up all the values in 'Profit/Losses' and stores result as "net"
net = data['Profit/Losses'].sum()

In [9]:
# Prints the Values under the column "Profit/Losses"
print(y)

    Profit/Losses
0          867884
1          984655
2          322013
3          -69417
4          310503
..            ...
81         102685
82         795914
83          60988
84         138230
85         671099

[86 rows x 1 columns]

In [10]:
# Adds and shifts a new column to our current data
data['shifted_column'] = data['Profit/Losses'].shift(1)

In [11]:
# Calculates the difference of the month to month change 
data['difference'] = data['Profit/Losses'] - data['shifted_column']

In [12]:
# Displays the new column containing the monthly changes
print(data['difference'])

0          NaN
1     116771.0
2    -662642.0
3    -391430.0
4     379920.0
        ...
81   -665765.0
82    693229.0
83   -734926.0
84     77242.0
85    532869.0
Name: difference, Length: 86, dtype: float64

In [13]:
# Calculates the Average of the changes in Profit/Losses rounded to the nearest hundredth
avg_roc = (data['difference'].sum())/(85)
formatted_avg_roc = "{:.2f}".format(avg_roc)
print(formatted_avg_roc)

-2315.12

In [14]:
# Stores and Prints the value of the greatest increase in Profits
maximum = data['difference'].idxmax()
data.iloc[maximum]

Date                 Feb-2012
Profit/Losses         1170593
shifted_column        -755566
difference        1.92616e+06
Name: 25, dtype: object

In [15]:
# Stores and Prints the value of the greatest decrease in Losses
minimum = data['difference'].idxmin()
data.iloc[minimum]

Date                 Sep-2013
Profit/Losses        -1196225
shifted_column         999942
difference       -2.19617e+06
Name: 44, dtype: object

In [16]:
# Output Results
print("Financial Analysis")
print("----------------------------")
print(f"Total Months: {total_months}")
print(f"Total: ${net}")
print(f"Average rate of change: ${formatted_avg_roc}")
print(f"Greatest Increase in Profits: {data.iloc[maximum]['Date']} $({data.iloc[maximum]['difference']})")
print(f"Greatest Decrease in Profits: {data.iloc[minimum]['Date']} $({data.iloc[minimum]['difference']})")

Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average rate of change: $-2315.12
Greatest Increase in Profits: Feb-2012 $(1926159.0)
Greatest Decrease in Profits: Sep-2013 $(-2196167.0)